.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: rgb(27, 3, 3);
    background-color: rgb(240, 240, 240);
}

.loginContainer .resolutMobile {
    margin: 5rem 0rem;
}

.loginContainer .resolutMobile a {
    text-decoration: none;
    color: rgb(27, 3, 3);
}

.loginContainer .resolutMobile p {
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
}

.loginContainer .resolutMobile span {
    font-weight: 300;
    letter-spacing: 0.2rem;
}

.loginContainer .loginHere {
    margin-top: -2rem;
    margin-bottom: 2.5rem;
    font-weight: 600;
}

.loginContainer form {
    width: 100%;
}

.loginContainer form input {
    width: 95%;
    margin: auto;
    height: 2.2rem;
    border-radius: 0.5rem;
    border: none;
    border: 0.2px solid rgb(176, 171, 171);
    padding-left: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-bottom: 1.4rem;
}

.loginContainer form input::placeholder {
    padding-left: 0.5rem;
    font-size: 0.75rem;
}

.loginContainer form button {
    background-color: rgb(27, 3, 3);
    color: white;
    font-weight: 500;
    width: 95%;
    margin: auto;
    height: 1.9rem;
    border-radius: 0.5rem;
    border: none;
    border: 0.2px solid rgb(176, 171, 171);
    padding-left: 0.5rem;
}

.loginContainer .footerdata {
    margin-top: auto;
    font-size: 0.7rem;
    color: rgb(98, 97, 97);
}